@import "tailwindcss";

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  margin: 0;
}

.logo {
  width: 250px;
  height: 3rem;
  background-image: url("./public/assets/myiio_logo_navbar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image_nfc {
  background-image: url("./public/assets/myiio_img_nfc.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image {
  background-image: url("./public/assets/myiio_img_101.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 80%;
  flex: 1;
  /* height: 400px; */
}

.box_image_drm {
  background-image: url("./public/assets/myiio_img_drm_ready.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image_key_features {
  background-image: url("./public/assets/myiio_img_102.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
  height: 500px;
  margin: auto;
}

.holox_image {
  background-image: url("./public/assets/myiio_img_holobox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  flex: 1;
  height: 600px;
  margin: auto;
}

.myiio_device {
  background-image: url("./public/assets/myiio_img_104.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  flex: 1;
  height: 600px;
  margin: auto;
}

.kiosk_image {
  background-image: url("./public/assets/myiio_img_103.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  flex: 1;
  height: 700px;
  margin: auto;
}

.hover_icon {
  background-image: url("./public/assets/myiio_icon_titleheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.free_trial_img {
  background-image: url("./public/assets/myiio_icon_power_with.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50%;
  /* width: 500px;
  height: 10px; */
  /* margin: auto; */
}

.logo_footer {
  position: relative;
  width: 100%;
  height: 4rem;
  background-image: url("./public/assets/myiio_logo_navbar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -7.5% 0;
}

.social_media_icons{
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.s_m_1{
    background-image: url("./public/assets/icons8-instagram-logo-48.png");
}

.s_m_2{
    background-image: url("./public/assets/icons8-facebook-48.png");
}
.s_m_3{
    background-image: url("./public/assets/icons8-youtube-48.png");
}
.s_m_4{
    background-image: url("./public/assets/icons8-linkedin-48.png");
}

.check_icon{
  background-image: url("./public/assets/check-mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (orientation: portrait) {
  .logo_footer {
    background-position: center;
  }
  .holox_image {
    background-position: center;
  }

  .myiio_device {
    height: 15rem;
    background-position: center;
  }

  .kiosk_image {
    background-position: center;
  }
  .free_trial_img {
    background-position: center;
    flex: 1;
    width: 100%;
    margin: auto;
  }
  .box_image_key_features {
    height: 275px;
  }
  .logo {
  width: 150px;
  height: 2.5rem;
  }
  .box_image {
  height: 400px;
}
}
