@import "tailwindcss";

html {
  background-color: #EFFF00;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: scroll;
  background-color: #EFFF00;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
  margin: 0;
}

.logo {
  position: static;
  width: 18vw !important;
  height: 4vw !important;
  background-image: url("../public/assets/myiio_logo_navbar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image_nfc {
  background-image: url("../public/assets/myiio_img_nfc.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image {
  background-image: url("../public/assets/myiio_img_101.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  flex: 1;
  /* height: 400px; */
}

.box_image_drm {
  background-image: url("../public/assets/myiio_img_drm_ready.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.box_image_key_features {
  background-image: url("../public/assets/myiio_img_102.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  flex: 1;
  height: 100%;
  /* height: 500px; */
  margin: auto;
}

.holox_image {
  background-image: url("../public/assets/myiio_img_holobox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  flex: 1;
  height: 60vh;
  /* height: 600px; */
  /* margin: auto; */
}

.myiio_device {
  background-image: url("../public/assets/myiio_img_104.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  flex: 1;
  height: 60vh;
  /* height: 600px; */
  margin: auto;
}

.kiosk_image {
  background-image: url("../public/assets/myiio_img_103.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  flex: 1;
  height: 90vh;
  margin: auto;
}

.hover_icon {
  background-image: url("../public/assets/myiio_icon_titleheader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.free_trial_img {
  background-image: url("../public/assets/myiio_icon_power_with.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
  /* width: 500px;
  height: 10px; */
  /* margin: auto; */
}

.logo_footer {
  position: relative;
  width: 100%;
  height: 4rem;
  background-image: url("../public/assets/myiio_logo_navbar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -7.5% 0;
}

.social_media_icons {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.s_m_1 {
  background-image: url("../public/assets/icons8-instagram-logo-48.png");
}

.s_m_2 {
  background-image: url("../public/assets/icons8-facebook-48.png");
}

.s_m_3 {
  background-image: url("../public/assets/icons8-youtube-48.png");
}

.s_m_4 {
  background-image: url("../public/assets/icons8-linkedin-48.png");
}

.check_icon {
  background-image: url("../public/assets/check-mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.try_myiio_button {
  position: relative;
  width: 10vw !important;
  height: 3vw !important;
}

.try_myiio_button p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-wrap: nowrap;
}

.nav_icon_container {
  width: 3vw;
  height: 3vw;
  display: flex;
  flex-direction: column;
}

.nav_icon_bar {
  margin: auto 0;
  width: 100%;
  height: 0.4vw;
  background-color: white;
}

.middle_bar {
  position: relative;
  right: 20%;
  width: 120%;
}

@media (orientation: portrait) {
  .logo_footer {
    width: 50vw;
    height: 20vw;
    background-position: center;
  }

  .holox_image {
    background-position: center;
  }

  .myiio_device {
    height: 50vh;
    background-position: center;
  }

  .kiosk_image {
    background-position: center;
  }

  .free_trial_img {
    background-position: center;
    flex: 1;
    width: 100%;
    margin: auto;
  }

  .box_image_key_features {
    /* height: 275px; */
  }

  .logo {
    width: 18vh !important;
    height: 3.5vh !important;
    position: relative;
    left: -2%;
  }

  .box_image {
    width: 100%;
    /* height: 400px; */
  }

  .try_myiio_button {
    width: 30vw !important;
    height: 3vh !important;
  }

  .nav_icon_container {
    width: 3vh;
    height: 3vh;

  }

  .nav_icon_bar {

    width: 100%;
    height: 0.4vh;

  }

  .middle_bar {
    right: 20%;
    width: 120%;
  }

  .social_media_icons {
    background-position: center;
  }
}